.chart{
    flex:5;
    background-color: rgb(77, 125, 230);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(185, 16, 16, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(221, 73, 73, 0.47);
    border-radius: 10px;
    height: 400px;
    padding: 10px;

}